node_modules
dist
out
.DS_Store
.eslintcache
*.log*
__pycache__
.venv
.test-env
test.py

engine/build
engine/portaudio
engine/pyinstaller_cache
engine/models
engine/notebook
native/apple-speech-helper/.build
native/apple-speech-helper/dist
# engine/main.spec

.repomap
.virtualme
