dashscope==1.26.7
truststore==0.10.4
websocket-client==1.9.0
numpy
resampy
vosk
pyinstaller
pyaudio; sys_platform == 'darwin'
pyaudiowpatch; sys_platform == 'win32'
googletrans
ollama
sherpa_onnx
requests
openai
