:root {
  --control-background: #fff;
  --tag-color: rgba(0, 0, 0, 0.45);
  --icon-color: rgba(0, 0, 0, 0.88);
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
